@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

body, html {
    margin: 0;
    overflow: hidden;
    position: relative;
}

body {
    align-items: center;
    background: linear-gradient(88deg, #150ffd, #ea0e50, #ea0eb1, #ea1a0e, #0e6aea, #eb3480, #7c0fc6, #5f059b);
    color: #fff;
    background-size: 1600% 1600%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans',sans-serif;
    justify-content: center;
    height: 100vh;
    text-align: center;
    -webkit-animation: bgAnimation 46s ease infinite;
    animation: bgAnimation 46s ease infinite;
}

@-webkit-keyframes bgAnimation {
    0% {
        background-position: 14% 0%;
    }

    50% {
        background-position: 87% 100%;
    }

    100% {
        background-position: 14% 0%;
    }
}

@keyframes bgAnimation {
    0% {
        background-position: 14% 0%;
    }

    50% {
        background-position: 87% 100%;
    }

    100% {
        background-position: 14% 0%;
    }
}

.container {
    h1 {
        font-size: 10em;
        margin: 0 0 0 0;
        background-color: #222;
        color: white;
        font-family: 'Roboto',sans-serif;
    }

    p {
        font-size: 1.2em;
        line-height: 26px;
    }

    small {
        opacity: 0.7;
    }

    a {
        color: #eee;
    }
}

footer {
    background-color: #222;
    color: #fff;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    letter-spacing: 1px;
    text-align: center;

    p {
        font-size: 1em;
        margin: 5px 0;
    }

    i {
        color: red;
    }

    a {
        color: #3C97BF;
        text-decoration: none;
    }
}
